https://python.langchain.com/v0.2/docs/integrations/tools/sql_database/
https://github.com/langchain-ai/langchain/blob/master/cookbook/sql_db_qa.mdx

In [1]:
import sqlite3
import os

if not os.path.exists("Chinook.db"):
    # 데이터베이스 연결 생성
    conn = sqlite3.connect('Chinook.db')

    # SQL 파일 읽기
    with open('Chinook_Sqlite.sql', 'r', encoding='utf-8') as sql_file:
        sql_script = sql_file.read()

    # SQL 명령 실행
    cursor = conn.cursor()
    cursor.executescript(sql_script)
    
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    
    print("생성된 테이블 목록:")
    for table in tables:
        print(table[0])

    # 변경사항 저장 및 연결 종료
    conn.commit()
    conn.close()

    print("Chinook.db 생성이 완료되었습니다.")

In [3]:
import getpass
import os

if "OPENAI_API_KEY" not in os.environ:
    os.environ["OPENAI_API_KEY"] = getpass.getpass()

from langchain_openai import ChatOpenAI

model = ChatOpenAI(model="gpt-4", temperature=0)

In [4]:
from langchain_community.utilities.sql_database import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///Chinook.db")

In [5]:
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=model)

In [6]:
from langchain import hub

prompt_template = hub.pull("langchain-ai/sql-agent-system-prompt")

assert len(prompt_template.messages) == 1
print(prompt_template.input_variables)

E:\git\langchain-test\.venv\lib\site-packages\langsmith\client.py:333: LangSmithMissingAPIKeyWarning: API key must be provided when using hosted LangSmith API
  warnings.warn(

['dialect', 'top_k']

E:\git\langchain-test\.venv\lib\site-packages\langsmith\client.py:5434: LangChainBetaWarning: The function `loads` is in beta. It is actively being worked on, so the API may change.
  prompt = loads(json.dumps(prompt_object.manifest))

In [7]:
system_message = prompt_template.format(dialect="PostgreSQL", top_k=5)

In [8]:
from langgraph.prebuilt import create_react_agent

agent_executor = create_react_agent(
    model, toolkit.get_tools(), state_modifier=system_message
)

In [10]:
example_query = ("국가, 도시별 인보이스 총 금액의 합계를 알려줘")

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

국가, 도시별 인보이스 총 금액의 합계를 알려줘
================================== Ai Message ==================================

먼저, 데이터베이스에 어떤 테이블들이 있는지 확인해야 합니다. 이를 위해 sql_db_list_tables 도구를 사용하겠습니다.
Tool Calls:
  sql_db_list_tables (call_6TFj91Z4PYjZWjhGqnSjmQnS)
 Call ID: call_6TFj91Z4PYjZWjhGqnSjmQnS
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================

데이터베이스에는 다음과 같은 테이블들이 있습니다: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track.

국가와 도시별 인보이스 총 금액의 합계를 구하기 위해서는 'Customer' 테이블에서 국가와 도시 정보를 가져오고, 'Invoice' 테이블에서 인보이스 금액을 가져와야 할 것 같습니다. 이 두 테이블의 스키마를 확인해 보겠습니다.
Tool Calls:
  sql_db_schema (call_3uUnNT8zVYO7NokeiH7pcsKh)
 Call ID: call_3uUnNT8zVYO7NokeiH7pcsKh
  Args:
    table_names: Customer, Invoice
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/
================================== Ai Message ==================================

'Customer' 테이블에는 고객의 국가('Country')와 도시('City') 정보가 있으며, 'Invoice' 테이블에는 각 인보이스의 총 금액('Total')이 있습니다. 두 테이블은 'CustomerId'를 통해 연결됩니다.

이제 SQL 쿼리를 작성하여 국가와 도시별로 인보이스 총 금액의 합계를 구해보겠습니다. 이 쿼리는 'Customer' 테이블과 'Invoice' 테이블을 'CustomerId'를 기준으로 조인하고, 국가와 도시별로 그룹화하여 총 금액의 합계를 계산합니다. 결과는 총 금액의 합계가 가장 높은 순서로 정렬됩니다. 결과는 최대 5개까지만 표시됩니다.
Tool Calls:
  sql_db_query_checker (call_nMnqpEf3ZlZXT71kqcE72t3b)
 Call ID: call_nMnqpEf3ZlZXT71kqcE72t3b
  Args:
    query: SELECT c.Country, c.City, SUM(i.Total) as TotalSum FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country, c.City ORDER BY TotalSum DESC LIMIT 5
================================= Tool Message =================================
Name: sql_db_query_checker

SELECT c.Country, c.City, SUM(i.Total) as TotalSum FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country, c.City ORDER BY TotalSum DESC LIMIT 5
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_qycuv0GWPqJRt4dfPjx49QTL)
 Call ID: call_qycuv0GWPqJRt4dfPjx49QTL
  Args:
    query: SELECT c.Country, c.City, SUM(i.Total) as TotalSum FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country, c.City ORDER BY TotalSum DESC LIMIT 5
================================= Tool Message =================================
Name: sql_db_query

[('Czech Republic', 'Prague', 90.24000000000001), ('France', 'Paris', 77.24), ('USA', 'Mountain View', 77.23999999999998), ('Germany', 'Berlin', 75.24), ('Brazil', 'São Paulo', 75.23999999999998)]
================================== Ai Message ==================================

국가와 도시별로 인보이스 총 금액의 합계는 다음과 같습니다:

1. 체코, 프라하: 90.24
2. 프랑스, 파리: 77.24
3. 미국, 마운틴뷰: 77.24
4. 독일, 베를린: 75.24
5. 브라질, 상파울루: 75.24